@font-face {
    font-family: 'Source Serif Pro';
    src: url('SourceSerifPro-Black.eot');
    src: url('SourceSerifPro-Black.eot?#iefix') format('embedded-opentype'),
        url('SourceSerifPro-Black.woff2') format('woff2'),
        url('SourceSerifPro-Black.woff') format('woff'),
        url('SourceSerifPro-Black.svg#SourceSerifPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('SourceSerifPro-ExtraLight.eot');
    src: url('SourceSerifPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('SourceSerifPro-ExtraLight.woff2') format('woff2'),
        url('SourceSerifPro-ExtraLight.woff') format('woff'),
        url('SourceSerifPro-ExtraLight.svg#SourceSerifPro-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('SourceSerifPro-Bold.eot');
    src: url('SourceSerifPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('SourceSerifPro-Bold.woff2') format('woff2'),
        url('SourceSerifPro-Bold.woff') format('woff'),
        url('SourceSerifPro-Bold.svg#SourceSerifPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('SourceSerifPro-SemiBold.eot');
    src: url('SourceSerifPro-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('SourceSerifPro-SemiBold.woff2') format('woff2'),
        url('SourceSerifPro-SemiBold.woff') format('woff'),
        url('SourceSerifPro-SemiBold.svg#SourceSerifPro-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('SourceSerifPro-Regular.eot');
    src: url('SourceSerifPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('SourceSerifPro-Regular.woff2') format('woff2'),
        url('SourceSerifPro-Regular.woff') format('woff'),
        url('SourceSerifPro-Regular.svg#SourceSerifPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('SourceSerifPro-Light.eot');
    src: url('SourceSerifPro-Light.eot?#iefix') format('embedded-opentype'),
        url('SourceSerifPro-Light.woff2') format('woff2'),
        url('SourceSerifPro-Light.woff') format('woff'),
        url('SourceSerifPro-Light.svg#SourceSerifPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

